.Wrapper{
    display: none;

}

.Wrapper h1{
    margin: 0px;
    text-align: center;
    font-size:  90px;
    margin-bottom: -3%;
}
.Wrapper h3{
    margin: 0px;
    text-align: center;
}
.Wrapper h1{
    display: 'inline-block' !important;
}
.Image{
    height: 30px;
    display: inline-block;
    transform: translate(5px, -15px);
}
.Text{
    font-size:6rem;
    margin: auto;
    text-align: center;
    margin-bottom: -3%;
}
@media(min-width: 1000px){
    .Wrapper{
        display: block;
    }
}