.Wrapper{
    margin-top: max(80px, 11vh);
    display: grid;
    grid-template-rows: 15% 35% 30% 20%;
}

.TitleWrapper{
    grid-row-start: 1;
    text-align: center;
}

.DemoImage{
    grid-row-start: 2;
}

@media (min-width:1000px){
    .Wrapper{
        display: none;
    }
}
