.Wrapper{
    position: fixed;
    top: 105px;
    border-top: 10px solid #697ee7;
    width: 100vw;

    color: #6d6d6d;
    font-size: 20px;
    padding: 5px;
    padding-left: 10%;
    background-color: white;
    z-index: 200;
    transition: 0.1s ease-out;
}

.Wrapper h3:hover{
    color: #3f3f3f;
}
