.Wrapper{
    position: fixed;
    top: 80px;
    border-top: 10px solid rgb(255, 183, 49);
    width: 100vw;

    color: #6d6d6d;
    font-size: 20px;
    padding: 5px;
    padding-left: 10%;
    background-color: white;
    z-index: 200;
    transition: 0.1s ease-out;
    text-decoration: none;
}
.Wrapper h3{
     text-decoration: none;
}
.Wrapper h3:hover{
    color: #3f3f3f;
}

@media(min-width: 1000px){
    .All{
        display: none !important;
    }
}