.LineStyle{
    background-color: black;
    height: 2px;
    width: 40px;
    margin: 10px;
    box-sizing: border-box;
}
.Image{
    height: 40px;
    display: inline-block;
    padding-left: 1%;
}
.TopLine{
    height: 5px;
    margin: 8px;
    animation: rotateRight 0.3s forwards;    
    display: absolute;
}
.MiddleLine{
    opacity: 0;
}
.BottomLine{
    height: 5px;
    margin: 8px;
    animation: rotateLeft 0.3s forwards;    
    display: absolute;
}
@keyframes rotateLeft{
    20%{
        transform: rotate(-30deg) translate(5px, -10px);
    }
    100%{
        transform: rotate(-45deg) translate(8px, -15px);
    }
}
@keyframes rotateRight{
    20%{
        transform: rotate(30deg) translate(5px, 10px);
    }
    100%{
        transform: rotate(45deg) translate(5px, 10px);
    }
}





.ButtonWrapper{
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    vertical-align: center;
    margin: auto;
    margin-top: 15px;
    position: absolute;
    top: -10px;
    right: 20px;
    grid-column-start: 3;
}
.Wrapper{
    display: grid;
    height: 80px;

    z-index: 900;

    margin-bottom: 60px;
    width: 100vw;
    background-color: white;
    box-sizing: border-box;
    position: fixed;

    color: black;
    margin-bottom: 0px;
    font-size: 60px;
    font-weight: normal;
    grid-column-start: 2;

    padding-left: 10%;
    display: inline-block;
}

.ButtonWrapper:hover > .LineStyle{
    transition: 0.1s ease-in;
    height: 5px;
    margin: 8px;
}

@media (min-width: 1000px){
    .Wrapper{
        display: none;
    }
}
