.BarClick{
    background-color: #415CEA;
    width: 80%;
    color: white;
    padding: 3px;

    font-size: 3rem;
    text-align: center;

    cursor: pointer;
    box-sizing: border-box;
    margin: auto;
    margin-top: 10px;

    display: block;
    transition: 0.2s;
}
.BarClick:hover{
    background-color: #3850c7;
}

.Body{
    background-color: #FFF5BF;
    width: 80%;
    height: max(250px, 15vw);
    min-height: 200px;
    text-align: center;
    margin: auto;

    animation: slideIn 0.5s forwards;
}
.Body div{
    grid-row-start: 0;
}
.TechStack{
    padding-top: 10px;
    font-weight: bold;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media(min-width:1000px){
    .Body{
        height: max(250px, 12vw);
        width: 70%;
    }
    .BarClick{
        width: 70%;
    }
}

@keyframes slideIn{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;

    }
    100%{
        opacity: 1;
    
    }
}