
.RightArrow{
    cursor: pointer;
    width: 3.5vw;
    display: inline-block;

    right: -10px;
}

.LeftArrow{
    cursor: pointer;
    width: 3.5vw;
    display: inline-block;

    transform: scaleX(-1);
}


@media (min-width: 1000px){
    .LeftArrow{
        margin-top: 50px;
    }
    .RightArrow{
        margin-top: 50px;
    }
}

@media (max-width: 999px){
    .LeftArrow{
        margin-top:  40px;
    }
    .RightArrow{
        margin-top:  40px;
    }
}
@media (max-width: 870px){
    .LeftArrow{
        margin-top:  30px;
    }
    .RightArrow{
        margin-top:  30px;
    }
}
@media (max-width: 560px){
    .LeftArrow{
        margin-top:  15px;
    }
    .RightArrow{
        margin-top:  15px;
    }
}