/*FOR THE SVG IN Arrow COMPONENT*/
.Body svg{
    cursor: pointer;
    height: 10vh;
    display: inline-block;
    position: absolute;
    top: max(48px, 7.5vw - 72px);
    margin: 0px -20px;
}
.Body{
    grid-row-start: 0;
    grid-column-start: 0;   
    width: 95%;
    height: max(250px, 15vw);
    min-height: 200px;
    text-align: center;
    position: relative;

    
    animation: slideIn 0.5s forwards;
}
.Body div{
    grid-row-start: 0;
}

@keyframes slideIn{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;

    }
    100%{
        opacity: 1;
    
    }
}