
.Navbar h3{
    font-size: 35px;
    display: inline-block;
    color: #ADADAD;
    margin: 1vw 3vw 2vw 3vw;
    font-weight: lighter;

    cursor: pointer;

    transition: 0.3s ease-out;
}
.Navbar{
    float: none;
    display: none;
    padding: 10px;
}
/*Everything for big screens*/
@media (min-width: 1000px){
    .Navbar h3:after{
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 3px;
        background: #919191;
        transition: width 0.3s ease 0s;
        width: 0;
        margin: 0 auto;
    }
    .Navbar h3:hover:after{
        width: 100%; 
        left: 0; 
    }
    .Navbar h3:hover{
        color: #919191;
    }
    .Navbar{
        float: right;
        display: block;
    }
    
}